.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5rem;

  text-transform: uppercase;

  cursor: pointer;
}

.primary {
  border-radius: 0.3125rem;
  background: #6246ea;

  color: #fff;

  transition: background 200ms ease-in-out;

  &:hover {
    background: #523dbe;
    color: #fff;
  }
}

.secondary {
  color: #6246ea;

  transition: all 300ms ease-in-out;

  &:hover {
    color: #fff;
    background-color: #6246ea;
    border-radius: 0.3125rem;
    margin-left: 0.3125rem;
  }
}
