:root {
  font-family: "Roboto", sans-serif;
}

input,
select,
button {
  font-family: "Roboto", sans-serif;
  all: unset;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
